body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.autore{
  color: rgb(4, 185, 250);
}

.sottotitolo{
  color: grey;
}

.descrizione-img{
  font-size: 11px;
}

thead{
  background-color: rgb(5, 83, 253);
}

tbody{
  background-color: rgb(58, 156, 222);
}

.sfondo-bianco{
  background-color: white;
}

.evidenziatore{
  background-color: yellow;
}